<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add contact details</h1>

  <h2><%= userid %></h2>
    <form action="/adddetails/<%= userid %>" method="post">
        <label for="">Name</label>
        <input type= "text" name="name"/>
        <label for="">phone</label>
        <input type="text" name="phone"/>
        <label for="">address</label>
        <input type="text" name="address"/>
        <label for="">email</label>
        <input type="text" name="email"/>  
        <button>Add </button>
    
    </form>
        
</body>
</html>