<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="pagewrapper">
    <h1>Welcome to your address book</h1>
    <h2> Please login or signup to proceed</h2>
    
    <form action="/sessions" method="post">
        <label for="">Email ID</label>
        <input type= "text" name="username"/>
        <label for="">Password</label>
        <input type="password" name="password"/>
        <button>Login</button>
    </form>
    <br/> 
    <br/>  
    <h3>New user? <a href="/signup">Sign up here</a></h3>

</body>
</div>
</html>
