<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Please enter the details below to signup</h1>
    <form action="/users" method="post">
    <label for="">Please enter your name</label>
    <input type= "text" name="name"/>
    <label for="">Please enter a username</label>
    <input type= "text" name="username"/>
    <label for="">Please enter your password</label>
    <input type="password" name="password"/>
    <button>Signup</button>
    </form>

</body>
</html>