<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="#C1E1C1";style="font-family:cursive;">
    <h1 style="font-family:cursive; font-size: 50px; text-align: center;">Please enter the details below to signup</h1>
 <footer style="text-align: center; font-size: 30px; font-family:cursive;">
    <form action="/users" method="post">
    <label for="">Please enter your name</label>
    <input type= "text" name="name"/>
    <label for="">Enter your email Id</label>
    <input type= "text" name="username"/>
    <label for="">Enter your password</label>
    <input type="password" name="password"/>
    <button>Signup</button>
    </form>
</footer>
</body>
</html>